/*-------------------------------------------------------------------------
		基本設定
-------------------------------------------------------------------------*/
html {
	width: 100%;
	height: 100% ;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif ; /* 文字のフォントを指定 */
	color: #000000; /* 文字の色を指定 */
}

body {
	margin: 0px;
	padding: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

/*-------------------------------------------------------------------------
		トップバー
-------------------------------------------------------------------------*/
ul > .cen {	/* カンマは複数の記述を表すので、内包される意味で'>'を用いる */
	width: 250px ;
	position: relative ;
	display: inline-block ;
	list-style-type: none ;
	/* 次の行 http://homepage3.nifty.com/sho-nan/mokei.files/sonota.files/color.html(スタイル："background: #555;") */
	/*background: #555;*/
	/* グラデーション http://www.css-lecture.com/log/css3/css3-gradient.html("CSS Lecture") より引用 */
	/* Firefox用(左から順に、方向・開始色・終了色) */
	background: -moz-linear-gradient(left 90deg, rgb(229,255,221), rgb(180,209,192)) ;
	/* Safari,Google Chrome用(左から順に、線形で開始位置・終了位置・開始色・終了色) */
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(229,255,221)), to(rgb(180,209,192))) ;
	/* 次の行 http://webtips-blog.com/2011/04/27/css/("Web Tips Blog") より引用 */
	box-shadow: 1px 1px 5px #aaa ; /* 左から、横方向のずれ、下方向のずれ、ぼかし具合、シャドウの色 */
	border-color: 5px solid #000 ;
	padding-bottom: 5px ;
	color: #2F4F4F ;
	z-index: 9999 ; /* 最前面に表示 */
}

#topbar {
	width: 100% ;
	height: 50px ;
	/* 繧ｰ繝ｩ繝・・繧ｷ繝ｧ繝ｳ http://www.css-lecture.com/log/css3/css3-gradient.html("CSS Lecture") 繧医ｊ蠑慕畑 */
	/* Firefox逕ｨ(蟾ｦ縺九ｉ鬆・↓縲∵婿蜷代・髢句ｧ玖牡繝ｻ邨ゆｺ・牡) */
	background: -moz-linear-gradient(left 90deg, rgb(180,209,192), rgb(229,255,221)) ;
	/* Safari,Google Chrome逕ｨ(蟾ｦ縺九ｉ鬆・↓縲∫ｷ壼ｽ｢縺ｧ髢句ｧ倶ｽ咲ｽｮ繝ｻ邨ゆｺ・ｽ咲ｽｮ繝ｻ髢句ｧ玖牡繝ｻ邨ゆｺ・牡) */
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(180,209,192)), to(rgb(229,255,221))) ;
	padding-bottom: 5px ;
	padding-top: 5px ;
	box-shadow: 1px 1px 5px rgb(170, 170, 170) ;
	z-index: 9999; /* 最前面に表示 */
}

ul ul {
	position: relative;
	display: none;
	background-color: #999;
}

ul .cen:hover > ul {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 9999; /* 最前面に表示 */
}

/* バーの見出し（ボタン部分）*/
ul a{
	display: block ;
	font-size: 20px ;
	width: 250px;
	color: #2F4F4F; /* 通常時の文字の色 */
	text-decoration: none ; /* 下線なし */
	cursor: pointer ; /* マウスの形をポインター */
	outline: none ;
}

ul a:hover > .cen {
	color: red; /* オンマウス時の文字の色 */
	/* グラデーション http://www.css-lecture.com/log/css3/css3-gradient.html("CSS Lecture") より引用 */
	/* Firefox用(左から順に、方向・開始色・終了色) */
	background: -moz-linear-gradient(left 90deg, rgb(229,255,221), rgb(180,209,192)) ;
	/* Safari,Google Chrome用(左から順に、線形で開始位置・終了位置・開始色・終了色) */
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(229,255,221)), to(rgb(180,209,192))) ;
}

.cen {
	/*width: 150px;*/
	padding-left: 10px ;
	padding-right: 10px ;
	/* height < line-height のとき、文字が各メニューの下に寄る */
	/* height > line-height のとき、文字が各メニューの上に寄る */
	height: 45px; /* バーの高さ */
	line-height: 45px; /* 行間の高さ */
}

#mapCanvas {
	position: absolute; /* "debug button"の直下 */
	width: 100%;
	height: 100%;
}

#bar {
	background-color: #ffffff;
	width: 100%;
	z-index: 9999; /* 最前面に表示 */
}

#title {
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #6F9;
}

#topbar {
	width: 100% ;
	height: 50px ;
	/* グラデーション http://www.css-lecture.com/log/css3/css3-gradient.html("CSS Lecture") より引用 */
	/* Firefox用(左から順に、方向・開始色・終了色) */
	background: -moz-linear-gradient(left 90deg, rgb(229,255,221), rgb(180,209,192)) ;
	/* Safari,Google Chrome用(左から順に、線形で開始位置・終了位置・開始色・終了色) */
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(229,255,221)), to(rgb(180,209,192))) ;
	padding-bottom: 5px ;
	padding-top: 5px ;
	/* 次の行 http://webtips-blog.com/2011/04/27/css/("Web Tips Blog") より引用 */
	box-shadow: 1px 1px 5px #aaa ; /* 左から、横方向のずれ、下方向のずれ、ぼかし具合、シャドウの色 */
}

/*-------------------------------------------------------------------------
		listArea部分
-------------------------------------------------------------------------*/
#listArea { /*listArea全体*/
	background-color: white; /* 背景色:白 */
	border-radius: 5px; /* 角丸 */
	opacity: 0.8; /* 透過度:80% */
	height: calc(100% - 120px); /* 縦:100% - 120px */
	height: -webkit-calc(100% - 120px); /* webkit対策 */
	width: 300px; /* 横：300px */
	position: absolute; /* 絶対位置 */
	bottom: 10px; /* 下から10pxの位置 */
	right: 50px; /* 右から10pxの位置 */
	overflow: auto; /* はみ出したらスクロールバーを表示 */
	writing-mode: tb-rl; /* 縦書き */
}

#buttonArea {
	position: fixed;
	width: 215px;
	margin: 10px 0 10px 30px;
	cursor: pointer; /* マウスカーソルを常にデフォルト */
}

#buttonArea li {
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-right: 5px;
	display: inline-block;
	background-color: #26E8F2;
	border-radius: 5px; /* 角丸 */
	font-weight: bold; /* 文字を太字 */
}

#box {
	margin-top: 50px;
}

.wrapBox { /*イベントbox*/
	height: 60px;
	width: 270px;
	margin-bottom: 10px;
}

.dateBox { /*日付box*/
	position: relative;
	font-weight: bold; /* 文字を太字 */
	height: 50px;
	width: 50px;
	margin: 0 0 10px 5px;
	padding: 5px;
	color: rgb(50,50,50); /* 文字色：灰色 */
	border-radius: 3px; /* 角丸 */
	cursor: default; /* マウスカーソルを常にデフォルト */
	float: left;
}

.eventBox { /*タイトルbox*/
	line-height: 1.0;
	position: relative;
	font-weight: bold; /* 文字を太字 */
	height: 50px;
	width: 190px;
	margin: 0 0 10px 5px;
	padding: 5px;
	background-color: rgba(0,0,255,0.1); /* 背景色指定 */
	color: rgb(50,50,50); /* 文字色：灰色 */
	border-radius: 3px; /* 角丸 */
	cursor: default; /* マウスカーソルを常にデフォルト */
	float: left;
	-o-text-overflow: ellipsis;
}

.eventBox:hover { /*上記アクティブ時*/
	background-color: rgba(0,0,255,0.3);
	color: rgb(0,0,0); /* 文字色：黒色 */
}

.sponsorBox { /*スポンサー名*/
	position: absolute;
	top: 40px;
	right:5px;
	color: rgb(100,100,100); /* 文字色：灰色 */
}

.month { /*月*/
	font-size: 1.2em;
	top 3px;
	left: 3px;
	position: absolute;
}

.split { /*斜線*/
	font-size: 2.5em;
	line-height: 50px;
	text-align: center;
	position: static;
}

.date { /*日にち*/
	font-size: 1.2em;
	bottom: 3px;
	right: 3px;
	position: absolute;
}

.sun { /*日曜日*/
	background-color: red;
}

.sat { /*土曜日*/
	background-color: rgb(0,68,204);
}

.ordinary { /* 平日 */
	background-color: rgba(0,0,255,0.1); 
}


/*-------------------------------------------------------------------------
		information部分
-------------------------------------------------------------------------*/
#information { /*information全体*/
	background-color: white; /* 背景色:白 */
	border-radius: 5px; /* 角丸 */
	opacity: 0.8; /* 透過度:80% */
	height: calc(100% - 120px); /* 縦:100% - 120px */
	height: -webkit-calc(100% - 120px); /* webkit対策 */
	width: 300px; /* 横：300px */
	position: absolute; /* 絶対位置 */
	bottom: 10px; /* 下から10pxの位置 */
	right: 50px; /* 右から10pxの位置 */
	overflow: auto; /* はみ出したらスクロールバーを表示 */
	writing-mode: tb-rl; /* 縦書き */
}

/*-------------------------------------------------------------------------
		twit部分
-------------------------------------------------------------------------*/
#twit { /*twit全体*/
	background-color: white; /* 背景色:白 */
	border-radius: 5px; /* 角丸 */
	opacity: 0.8; /* 透過度:80% */
	height: calc(100% - 120px); /* 縦:100% - 120px */
	height: -webkit-calc(100% - 120px); /* webkit対策 */
	width: 300px; /* 横：300px */
	position: absolute; /* 絶対位置 */
	bottom: 10px; /* 下から10pxの位置 */
	right: 50px; /* 右から10pxの位置 */
	overflow: auto; /* はみ出したらスクロールバーを表示 */
	writing-mode: tb-rl; /* 縦書き */
}

#tabArea { /*右側タブ部分全体*/
	top: 200px ;
	height: 150px ;
	right: 0 ;
	position: absolute ; /* 絶対位置 */
}

ul > .tabmenu { /*各タブメニュー*/
	margin: 0 0 10px 0;
	padding: 0;
	width: 30px;
	height: 20%;
	list-style: none; /* リストの先頭のマークを非表示に */
}

.tabmenu a { /*タブメニュー内リンク*/
	display: inline-block; /* インライン-ブロック要素に変換 */
	color: black; /* 文字色：黒 */
	background-color: #C9F; /* 背景：lightGray */
	text-decoration: none; /* リンクの下線：非表示 */
	text-align: center; /* 中央寄せ */
	line-height: 30px; /* 縦方向の中央寄せ */ /* heightと同じ値を指定すると縦方向の中央寄せになる */
	border-top-left-radius: 5px; /* 左上の角丸：5px */
	border-bottom-left-radius: 5px; /* 左下の角丸：5px */

}

.active a { /*上記アクティブ時*/
	background-color: #000000; /* 背景：黒 */
	color: white; /* 文字色：白 */
	font-weight: bold; /* 太文字 */
	border-top-left-radius: 5px; /* 左上の角丸：5px */
	border-bottom-left-radius: 5px; /* 左下の角丸：5px */
}